aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-timeout==4.0.2
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
blessed==1.19.1
brotlipy==0.7.0
certifi==2021.10.8
cffi 
charset-normalizer 
click==8.1.3
colorful==0.5.4
cryptography 
debugpy 
decorator 
defusedxml 
distlib==0.3.4
entrypoints 
executing 
fastjsonschema 
filelock==3.7.0
frozenlist==1.3.0
google-api-core==2.7.3
googleapis-common-protos==1.56.1
gpustat==1.0.0b1
grpcio==1.43.0
idna 
ipykernel 
ipython 
ipython-genutils 
jedi 
Jinja2 
json5 
jsonschema 
jupyter-client 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
MarkupSafe 
matplotlib-inline 
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
msgpack==1.0.3
multidict==6.0.2
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy 
nvidia-ml-py3==7.352.0
opencensus==0.9.0
opencensus-context==0.1.2
packaging 
pandas==1.4.2
pandocfilters 
parso 
pexpect 
pickleshare 
platformdirs==2.5.2
prometheus-client 
prompt-toolkit 
protobuf==3.20.1
psutil==5.9.0
ptyprocess 
pure-eval 
py-spy==0.3.12
py4j==0.10.9.3
pyarrow==8.0.0
pyasn1==0.4.8
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pyspark==3.2.1
python-dateutil 
pytz==2021.3
PyYAML==6.0
pyzmq 
ray==1.12.1
requests 
Send2Trash 
six 
smart-open==6.0.0
sniffio 
soupsieve 
stack-data 
terminado 
testpath 
tornado 
traitlets 
typing_extensions 
urllib3 
virtualenv==20.14.1
wcwidth 
webencodings==0.5.1
websocket-client 
yarl==1.7.2
